*{}
span.select2-selection.select2-selection--single{
   display: none;
}
table th, table td {
    border-right: 1px solid #f8f8f8;
}
.opacity-0{
   opacity: 0;
}
.p-cus-6{
  padding: 6px;
}
.table-responsive::-webkit-scrollbar {
    height: 5px;
    background: #f9f9f9;
    border-radius: 10px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 10px;
}
.with-100{
  width: 100%;
}
.background-0{
  background: none;
  outline: none;
}
.cursor-pointer{
  cursor: pointer;
}
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

#myUL .caret {
  cursor: pointer;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

#myUL .caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 3px;
}

#myUL .caret-down::before {
  -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);  
}

#myUL .nested {
  display: none;
  border-left: 1px dotted #aaa;
}

#myUL .active {
  display: block;
}
.min-height-3{
  min-height: 300px;
}
.min-height-1{
  min-height: 100px;
}
.min-height-2{
  min-height: 200px;
}
.min-width-125{
  min-width: 125px;
}
.min-with-50{
  min-width: 50px;
}
.text-decoration{
  text-decoration: underline;
}
.nested li {
    padding: 4px;
    position: relative;
}
.nested li:before {
    content: '';
    width: 35px;
    height: 0;
    position: absolute;
    border-top: 1px dotted #aaa;
    left: -37px;
    top: 14px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice{
  padding: 3px;
}
.modal-body::-webkit-scrollbar {
    width: 7px;
    background: #ededed;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #aeaeae;
    border-radius: 10px;
}
.actions-dropodown {
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    border-radius: 13px;
    margin-right: 16px;
}